@font-face {
    font-family: 'BMJUA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'BMJUA', sans-serif; /* 폰트 적용 */
    background-color: white; /* 배경색은 유지 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    padding: 20px;
    width: 90%; /* 너비 조정 */
    max-width: 300px; /* 최대 너비 설정 */
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.cloud-icon img {
    width: 80%; /* 아이콘 크기 조정 */
    margin: 20px 0; /* 상하 여백 추가 */
}

.title {
    font-size: 25px;
    color: #03A9F4;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 90%; /* 입력 필드의 너비를 90%로 조정 */
    height: 8px; /* 입력 필드의 높이를 명시적으로 설정 */
    margin: auto; /* 자동 마진으로 중앙 정렬 */
    padding: 8px 10px; /* 패딩 조정으로 세로 길이 감소 */
    border: 1px solid #ccc;
    border-radius: 5px; /* 입력 필드 모서리 둥글게 */
    font-size: 14px; /* 입력 필드 폰트 크기 조정 */
    }


.login-button {
    font-family: 'BMJUA', sans-serif; /* 폰트 적용 */
    width: 100%;
    padding: 10px;
    background-color: #81D4FA; /* 버튼 색상 */
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 14px; /* 폰트 크기 */
    margin-bottom: 10px; /* 버튼 아래 여백 추가 */
}

.links a {
    color: #0277BD;
    text-decoration: none;
    font-size: 15px; /* 링크 폰트 크기 */
}
